<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Show', @post %> |
<%= link_to 'Back', posts_path %>

< div class="fields" >
 <%= f.label :display_name %><br />
 <%= f.text_field :display_name %>
< /div >